<% layout('layouts/boilerplate') %>

<div class="container text-center">
  <h1 class="mb-3">Welcome to Yelp</h1>
  <h3 class="mb-3">Making a YelpCamp!</h3>
  <a href="/campgrounds" class="text-decoration-none"
    ><button class="btn-lg btn-outline-primary">Navigate</button></a
  >
</div>
