<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body class="d-flex flex-column  text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
      <header class="mb-auto">

        <div class="d-flex justify-content-between">
          <h3 class="float-md-left mb-0">YelpCamp</h3>
<nav class="navbar sticky-top navbar-expand-lg justify-content-center navbar-dark bg-transparent">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
            <div
            class="
              collapse
              navbar-collapse
              d-lg-flex
              justify-content-lg-between
            "
            id="navbarNavAltMarkup"
            >
            <div class="navbar-nav justify-content-center  float-md-right">
              <a href="#" class="nav-link active">Home</a>
              <a href="/campgrounds" class="nav-link">Campgrounds</a>
              <% if (!loggedInUser) { %>
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">Register</a>
              <% }else { %>
              <a href="#" class="nav-link"
                ><i class="far fa-user-circle mt-1">
                  <%= loggedInUser.username %></i
                ></a
              >
              <a class="nav-link" href="/logout">Logout</a>
              <% } %>
            </div>
            </nav>
          </div>
        </div>
      </header>
      <main class="mx-3">
        <h1>YelpCamp</h1>
        <p class="lead">Welcome to Campgrounds!</p>
        <p>
          Earth and sky, woods and fields, lakes and rivers, the mountain and
          the sea, are excellent schoolmasters,<br />
          and teach of us more than we can ever learn from books. <br />
          And I think to myself, what a wonderful world.
        </p>
        <a
          href="/campgrounds"
          class="btn btn-lg font-weight-bold bg-white btn-secondary"
          >Explore Campgrounds</a
        >
      </main>
      <footer class="footer mt-auto text-white-50"><p>&copy; 2021</p></footer>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"
  ></script>
</html>
